.form {
    max-width: 620px;
    margin: 0 auto;
    padding: 20px;
}

.form__fieldset {
    border: 2px solid rgb(0, 0, 0);
    border-radius: 5px;
    margin: 20px 5px 5px;
    padding: 10px 20px;
    background: hsl(0, 0%, 96%);
}

.form__legend {
    background-color: black;
    border-radius: 5px;
    padding: 10px 20px;
    color: white;
    font-size: 30px;
    font-style: italic;
}

.form__list {
    padding-left: 15px;
}

.form__item {
    list-style: none;
    padding: 3px 0;
}

.form__currency {
    padding-left: 3px;
}

.form__labelText {
    display: inline-block;
    max-width: 160px;
    width: 100%;
    margin-right: 5px;
}

.form__button {
    background: hsl(0, 0%, 80%);
    border: 1px solid hsl(0, 0%, 10%);
    border-radius: 5px;
    padding: 10px 20px;
    margin-top: 10px;
    font-weight: bold;
}

.form__paragraph {
    text-align: center;
}

.form__paragraph--result {
    font-weight: bold;
    font-size: 18px;
}

.form__field {
    max-width: 350px;
    width: 100%;
    padding: 5px;
    border: 1px solid;
    border-radius: 3px;
    text-align: center;
}

.form__warning {
    font-style: italic;
    color: rgb(136, 136, 136);
    font-size: small;
    text-align: right;
    margin-top: 5px;
}