html {
  box-sizing: border-box;
}

*, ::after, ::before {
  box-sizing: inherit;
}

body {
  font-family: 'Lato', sans-serif;
  background-image: url("../public/background_bitcoin.png");
  background-repeat: repeat;
  background-position: center;
  background-size: auto;
}